<div class="top-center">
  <span class="form-info" id="user-type">
    <!-- display title based on user type, format => "{user type in titlecase} Login"-->
    {{userType | titlecase}} Login
  </span>
</div>

<!-- login dropdown menu -->
<app-user-menu [menus]="menus"></app-user-menu>

<div class="form-card">
  <div class="title">Sign In</div>
  <form [formGroup]="loginForm">
    <div class="form-group">
      <!-- 'email' -->
      <input type="email" placeholder="Email" formControlName="email" class="form-control" id="input-email">
      <div class="text-danger small" id="invalid-email" *ngIf="loginFormControl['email'].invalid && (loginFormControl['email'].dirty || loginFormControl['email'].touched)">
        
        <!-- validation messages for email -->
        <span *ngIf="loginFormControl['email'].errors.required">
          {{emailRequiredError}}
        </span>
        
      </div>
    </div>
    <div class="form-group">
      <!-- on click should toggle between input field between text and password to show and hide password-->
      <span id="eye" class="eye" (click)="togglePasswordField();"><i class="fa fa-eye icon"></i></span>

      <!-- 'password' -->
      <input placeholder="Password" class="form-control pwd-field" formControlName="password" style="width: 91.3%;" id="input-password" [type]="password == true ? 'password' : 'text'">
      <div class="text-danger small" id="invalid-password" *ngIf="loginFormControl['password'].invalid && (loginFormControl['password'].dirty || loginFormControl['password'].touched)">
        
        <!-- validation messages for password -->
        <span *ngIf="loginFormControl['password'].errors.required">
          {{passwordRequiredError}}
        </span>

      </div>
    </div>
    <!-- On clicking button, should call the 'loginUser' fn and button should be disabled id form inputs are not valid -->
    <button class="btn btn-info btn-submit" id="login-btn" (click)="loginUser(loginForm);" [disabled]="loginForm.invalid">Login</button>
  </form>
</div>